.gwd-play-animation [data-gwd-group="Scene2"] .gwd-motion-path-ly52-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["38.81px", "69.1px", "39.21px", "70.73px", "39.6px", "72.37px", "40px", "74px"], "startTimeMs": 0, "endTimeMs": 3200, "easing": "linear"
    }
    , {
      "controlPoints": ["40px", "74px", "55.03px", "-27.49px", "844.65px", "-347.9px", "766px", "-225px"], "startTimeMs": 3200, "endTimeMs": 4400, "easing": "linear"
    }
    , {
      "controlPoints": ["766px", "-225px", "765.67px", "-225px", "718.33px", "-110px", "718px", "-110px"], "startTimeMs": 4400, "endTimeMs": 5000, "easing": "linear"
    }
    , {
      "controlPoints": ["718px", "-110px", "718px", "-110.33px", "718px", "-109.67px", "718px", "-110px"], "startTimeMs": 5000, "endTimeMs": 5060, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 5.06s linear 0s 1 normal forwards running gwd-motion-path-ly52-keys-x;
  transform: translate3d(38.81px, 0px, 0px);
}
@keyframes gwd-motion-path-ly52-keys-x {
  0% {
    transform: translate3d(38.81px, 0px, 0px);
  }
  63.245% {
    transform: translate3d(40px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3958, 0.2108, 0.6969, 0.6748);
  }
  66.2046% {
    transform: translate3d(113.44px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3448, 0.3207, 0.6761, 0.6581);
  }
  84.5887% {
    transform: translate3d(710.04px, 0px, 0px);
  }
  85.7726% {
    transform: translate3d(751.72px, 0px, 0px);
  }
  86.3645% {
    transform: translate3d(770.29px, 0px, 0px);
  }
  86.9565% {
    transform: translate3d(766px, 0px, 0px);
  }
  98.8142% {
    transform: translate3d(718px, 0px, 0px);
  }
  100% {
    transform: translate3d(718px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="Scene2"] .gwd-motion-path-ly52-anim-y {
  animation: 5.06s linear 0s 1 normal forwards running gwd-motion-path-ly52-keys-y;
  transform: translate3d(0px, 69.1px, 0px);
}
@keyframes gwd-motion-path-ly52-keys-y {
  0% {
    transform: translate3d(0px, 69.1px, 0px);
  }
  63.245% {
    transform: translate3d(0px, 74px, 0px);
    animation-timing-function: cubic-bezier(0.2439, 0.4005, 0.6415, 0.7077);
  }
  70.3595% {
    transform: translate3d(0px, -70.25px, 0px);
    animation-timing-function: cubic-bezier(0.2996, 0.3573, 0.6226, 0.7244);
  }
  83.4048% {
    transform: translate3d(0px, -239.86px, 0px);
    animation-timing-function: cubic-bezier(0.6995, -1.3736, 0.7667, -1.1751);
  }
  86.9565% {
    transform: translate3d(0px, -225px, 0px);
  }
  98.8142% {
    transform: translate3d(0px, -110px, 0px);
  }
  100% {
    transform: translate3d(0px, -110px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}