/* THIS IS FOR MSPFA, NOT OFFLINE PAGES */


/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #035c88;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 181, 233);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #035c88;
}

/* ==================================================== */

body {
    background-image:
        url("theme/default/water.png"),
        url("theme/default/front-cloud.png"),
        url("theme/default/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("theme/default/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

a {
    color: #0080c2 !important;
}

nav,
.mspfa nav {
    color: #f4ab24 !important;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav .dropdown-content {
    background-color: #0000008f;
}

nav .dropdown-content>a {
    color: white !important;
}

.rate button.up,
.rate input[type="button"].up {
    background-image: url("../img/grayupvote.png");
}

.rate button.down,
.rate input[type="button"].down {
    background-image: url("../img/graydownvote.png");
}

.rate button.up.lit,
.rate input[type="button"].up.lit {
    background-image: url("../img/upvote.png");
}

.rate button.down.lit,
.rate input[type="button"].down.lit {
    background-image: url("../img/downvote.png");
}

.major {
    color: #005682 !important;
    text-shadow: 0 2px #f4ab24 !important;
}

.heart {
    background-image: url("theme/default/logo_small.png") !important;
    background-repeat: no-repeat;
}

.um {
    transform: translateX(-145px);
    width: 650px;
}

.umcontainer {
    background-image: url("theme/default/mspfafacereverse.png");
    background-repeat: no-repeat;
    background-position-x: 765px;
}

.mspfalogo {
    background-image: url("theme/default/mspfaface.png") !important;
    size: 70%;
    border-right: 4px solid transparent !important;
    background-color: transparent !important;
    background-position-x: 0px;
}

#flashytitle,
#flashytitlebottom {
    height: 68px !important;
    background-image: url("theme/default/header.png") !important;
    background-repeat: no-repeat !important;
    background-position: center 0 !important;
    background-color: transparent !important;
    padding-top: 10px !important;
    margin-top: 10px !important;
}

#flashytitlebottom {
    transform: scaleX(-1);
}

#loading {
    background-image: url("../img/siteload.gif");
}

#main {
    background-color: transparent !important;
}

#details {
    font-weight: bold;
    text-align: center;
}

iframe,
img#storyicon,
img.cellicon,
#slide,
.heart,
.rate {
    image-rendering: auto;
    -moz-image-rendering: auto;
}

/*
#bbtoolbar input {
    background-image: url("../img/bbicons.png");
    image-rendering: auto;
}
*/


/*FONT IMPORT*/

@font-face {
    font-family: 'Coder\'s Crux';
    src: url('font/coders-crux/Coders-Crux.eot');
    src: local('Coder\'s Crux Regular'), local('Coder\'s-Crux'),
        url('font/coders-crux/Coders-Crux.eot?#iefix') format('embedded-opentype'),
        url('font/coders-crux/Coders-Crux.woff2') format('woff2'),
        url('font/coders-crux/Coders-Crux.woff') format('woff'),
        url('font/coders-crux/Coders-Crux.ttf') format('truetype'),
        url('font/coders-crux/Coders-Crux.svg#Coder\'s-Crux') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Fipps';
    src: url('font/fipps/Fipps-Regular.eot');
    src: local('Fipps Regular'), local('Fipps-Regular'),
        url('font/fipps/Fipps-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/fipps/Fipps-Regular.woff2') format('woff2'),
        url('font/fipps/Fipps-Regular.woff') format('woff'),
        url('font/fipps/Fipps-Regular.ttf') format('truetype'),
        url('font/fipps/Fipps-Regular.svg#Fipps-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Gothic Pixel';
    src: url('font/gothic-pixel/Gothic-Pixel.eot');
    src: local('Gothic Pixel Regular'), local('Gothic-Pixel'),
        url('font/gothic-pixel/Gothic-Pixel.eot?#iefix') format('embedded-opentype'),
        url('font/gothic-pixel/Gothic-Pixel.woff2') format('woff2'),
        url('font/gothic-pixel/Gothic-Pixel.woff') format('woff'),
        url('font/gothic-pixel/Gothic-Pixel.ttf') format('truetype'),
        url('font/gothic-pixel/Gothic-Pixel.svg#Gothic-Pixel') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Retrogression';
    src: url('font/retrogression/Retrogression-Regular.eot');
    src: local('Retrogression Regular'), local('Retrogression-Regular'),
        url('font/retrogression/Retrogression-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/retrogression/Retrogression-Regular.woff2') format('woff2'),
        url('font/retrogression/Retrogression-Regular.woff') format('woff'),
        url('font/retrogression/Retrogression-Regular.ttf') format('truetype'),
        url('font/retrogression/Retrogression-Regular.svg#Retrogression-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Hiveswap Alternian';
    src: url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot');
    src: local('Hiveswap Alternian Regular'), local('HiveswapAlternian-Regular'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff2') format('woff2'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.woff') format('woff'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.ttf') format('truetype'),
        url('font/hiveswap-alternian/HiveswapAlternian-Regular.svg#HiveswapAlternian-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Homestuck';
    src: url('font/homestuck/Homestuck-Regular.eot');
    src: local('Homestuck Regular'), local('Homestuck-Regular'),
        url('font/homestuck/Homestuck-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/homestuck/Homestuck-Regular.woff2') format('woff2'),
        url('font/homestuck/Homestuck-Regular.woff') format('woff'),
        url('font/homestuck/Homestuck-Regular.ttf') format('truetype'),
        url('font/homestuck/Homestuck-Regular.svg#Homestuck-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor';
    src: url('font/victorian-parlor-vintage/VictorianParlorVintage.eot');
    src: local('Victorian Parlor Vintage'), local('VictorianParlorVintage'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff2') format('woff2'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.woff') format('woff'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.ttf') format('truetype'),
        url('font/victorian-parlor-vintage/VictorianParlorVintage.svg#VictorianParlorVintage') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Victorian Parlor Alternate';
    src: url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot');
    src: local('Victorian Parlor Vintage Alternate'), local('VictorianParlorVintageAlternate'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot?#iefix') format('embedded-opentype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff2') format('woff2'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff') format('woff'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.ttf') format('truetype'),
        url('font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.svg#VictorianParlorVintageAlternate') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Apple Chancery';
    src: url('font/apple-chancery/Apple-Chancery.eot');
    src: local('Apple Chancery Italic'), local('Apple-Chancery'),
        url('font/apple-chancery/Apple-Chancery.eot?#iefix') format('embedded-opentype'),
        url('font/apple-chancery/Apple-Chancery.woff2') format('woff2'),
        url('font/apple-chancery/Apple-Chancery.woff') format('woff'),
        url('font/apple-chancery/Apple-Chancery.ttf') format('truetype'),
        url('font/apple-chancery/Apple-Chancery.svg#Apple-Chancery') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Blood Script';
    src: url('font/blood-script/BloodScriptItalicPersonalUs-N.eot');
    src: local('Blood Script Italic Personal Us'), local('BloodScriptItalicPersonalUs-N'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.eot?#iefix') format('embedded-opentype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff2') format('woff2'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.woff') format('woff'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.ttf') format('truetype'),
        url('font/blood-script/BloodScriptItalicPersonalUs-N.svg#BloodScriptItalicPersonalUs-N') format('svg');
    font-display: swap;
}