@font-face {
    font-family: 'Victorian Parlor Alternate';
    src: url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot');
    src: local('Victorian Parlor Vintage Alternate'), local('VictorianParlorVintageAlternate'),
        url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.eot?#iefix') format('embedded-opentype'),
        url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff2') format('woff2'),
        url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.woff') format('woff'),
        url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.ttf') format('truetype'),
        url('../font/victorian-parlor-vintage-alternate/VictorianParlorVintageAlternate.svg#VictorianParlorVintageAlternate') format('svg');
    font-display: swap;
}