@font-face {
    font-family: 'Rotten Banquet';
    src: url('RottenBanquet-Regular.eot');
    src: url('RottenBanquet-Regular.eot?#iefix') format('embedded-opentype'),
        url('RottenBanquet-Regular.woff2') format('woff2'),
        url('RottenBanquet-Regular.woff') format('woff'),
        url('RottenBanquet-Regular.ttf') format('truetype'),
        url('RottenBanquet-Regular.svg#RottenBanquet-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

