@font-face {
    font-family: 'Victorian Parlor';
    src: url('../font/victorian-parlor-vintage/VictorianParlorVintage.eot');
    src: local('Victorian Parlor Vintage'), local('VictorianParlorVintage'),
        url('../font/victorian-parlor-vintage/VictorianParlorVintage.eot?#iefix') format('embedded-opentype'),
        url('../font/victorian-parlor-vintage/VictorianParlorVintage.woff2') format('woff2'),
        url('../font/victorian-parlor-vintage/VictorianParlorVintage.woff') format('woff'),
        url('../font/victorian-parlor-vintage/VictorianParlorVintage.ttf') format('truetype'),
        url('../font/victorian-parlor-vintage/VictorianParlorVintage.svg#VictorianParlorVintage') format('svg');
    font-display: swap;
}