/* MSPFA PROFILE CSS https://mspfa.com/user/?u=101626213389903517817 */

/* Font Import */
@font-face {
    font-family: 'Berry Rotunda';
    src: url('../font/berry_rotunda/BerryRotunda-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Snakehand Regular';
    src: url('../font/Snakehand/Snakehand-Reg.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Convincing Pirate';
    src: url('../font/convincing_pirate/ConvincingPirate.woff2') format('woff2');
    font-display: swap;
}

/* Adventure nav links */
/*.adv-nav {
    position: absolute;
    left: 3rem;
    width: 400px;
    padding-right: 265px;
    display: flex;
    justify-content: space-evenly;
    font-weight: normal;
    font-size: 20px;
}

#tcmc-nav {
    top: 34rem;
}

#alab-nav {
    top: 48rem;
}*/

.adv-nav {
    position: absolute;
    width: 400px;
    font-weight: normal;
    font-size: 20px;
    font-family: Convincing Pirate;
}

#tcmc-nav a {
    position: absolute;
    top: 21rem;
}

#alab-nav a {
    position: absolute;
    top: 35rem;
}

#tcmc-nav a:nth-child(1),
#alab-nav a:nth-child(1) {
    left: 6.5rem;
}

#tcmc-nav a:nth-child(3),
#alab-nav a:nth-child(3) {
    left: 18rem;
}

/* HS.COM DESCRIPTIONS - by MadCreativity */
#userdesc {
    position: relative;
}

#userstories a {
    margin: 48px auto;
    display: grid;
    max-width: 700px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
    pointer-events: none;
}

#userstories a:first-of-type {
    margin-top: 0;
}

#userstories a:last-of-type {
    margin-bottom: 20px;
}

#userstories a img {
    width: 150px;
    height: 150px;
    vertical-align: bottom;
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 0;
    pointer-events: all;
}

#userstories a::before {
    content: "???";
    font-family: 'Snakehand Regular';
    font-size: 20px;
    font-weight: bold !important;
    order: 2;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 16px;
    width: 100%;
    color: #000;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 24px;
}

#userstories a::after {
    content: "???";
    text-align: center;
    width: 100%;
    font-size: 32px;
    grid-column: 2/3;
    grid-row: 1/2;
    box-sizing: border-box;
    padding: 0 24px;
    pointer-events: all;
    font-family: Convincing Pirate;
}

#userstories a[href="/?s=38151&p=1"]::before {
    content: "A daring adventure of pirates, booze and a whole lotta booty! My most grand adventure to date! Currently ongoing.";
}

#userstories a[href="/?s=38151&p=1"]::after {
    content: "The Cerulean Motley Crew";
}

#userstories a[href="/?s=236&p=1"]::before {
    content: "'Doomed' does not always refer to the fate Skaia reserves for alternate timelines and those who fall outside of its plans. Written by Oasis Nadrama. We both teamed up to create a conjoined universe, more than just a cameo in each!";
}

#userstories a[href="/?s=236&p=1"]::after {
    content: "Alabaster: The Doomed Session";
}

#userstories a[href="/?s=6779&p=1"]::before {
    content: "This was my first ever fanventure on MSPFA and it was featured on the long dead MSPA forums where I would update it back in 2014 under the name FubbalyWubbaly. Unfortunately, most of the team lost interest and this fanventure eventually died.";
}

#userstories a[href="/?s=6779&p=1"]::after {
    content: "Go Stuck Yourself!";
}

/* hide adventure */
#userstories a[href="/?s=564&p=1"] {
    display: none;
}

/* Groupshot banners */
:root {
    --events: 2;
    --event-height: calc(90px + (35px * var(--events)));
}

#events {
    width: 830px;
    height: var(--event-height);
    position: absolute;
    transform: translate(-264px, 12px);
    box-shadow: inset 0px 0px 0px 3px #064564;
}

#events span {
    background-color: #064564;
    color: white;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: -25px;
    font-family: Convincing Pirate;
}

#userstories {
    border-top: calc(var(--event-height) + -2px) solid transparent;
    color: transparent;
}

/* custom achievements 
#userachievements > a:last-of-type::after {
    content: "";
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0 16px;
    background-image: url("");
}*/

/*=============================================== */
/* =================== Layout ==================== */

/* hide ID */
#userinfo > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
    display: none;
}

/* Hide Heading */
#userinfo > tbody > tr:nth-child(1) > td {
    display: none;
}

/* fancy heading
#userinfo > tbody > tr:nth-child(1) > td {
    border-bottom-width: 0px !important;
}

.major.alt {
    text-indent: -9999px;
    line-height: 0;
}

.major.alt:after {
    content: "MSPFA WEBCOMICS by";
    color: #3b3b3b;
    text-shadow: 3px 3px #909090;
    text-indent: 0;
    display: block;
    line-height: initial;
    letter-spacing: 7
}

#userinfo > tbody:nth-child(1) > tr:nth-child(2) {
    font-size: 34px;
    color: #3b3b3b;
    text-shadow: 3px 3px #909090;
}

#userinfo > tbody:nth-child(1) > tr:nth-child(1) {
    background-color: #c6c6c6;
}*/

/* =============================================== */
/* ==================== Theme ==================== */

a {
    color: #0080c2 !important;
}

nav {
    margin-top: 10px;
    color: #f4ab24 !important;
    background-color: transparent;
    text-shadow: 0px 0.5px 0 #064564;
}

table.container {
    border: none;
    border-collapse: separate;
    background-color: transparent;
}

table.container > tbody > tr > td {
    border: none;
}

table.container.alt2 > tbody > tr > th {
    background-color: #064564;
    border: solid 2px #064564;
    color: white;
    font-weight: normal;
    font-family: Convincing Pirate !important;
}

.major {
    color: #005682 !important;
    text-shadow: 0 2px #f4ab24 !important;
}

.heart {
    background-image: url("../theme/myutun-sea/logo_small.png") !important;
}

.um {
    transform: translateX(-145px);
    width: 650px;
}

.umcontainer {
    background-image: url("../theme/myutun-sea/mspfafacereverse.png");
    background-repeat: no-repeat;
    background-position-x: 795px;
}

.mspfalogo {
    background-image: url("../theme/myutun-sea/mspfaface.png") !important;
    size: 70%;
    border-right: 4px solid transparent;
    background-color: transparent;
    background-position-x: 0px;
}

.cellicon,
#usericon {
    box-shadow: -8px 8px 13px 0px #00000087;
}

#usericon,
#userstories,
.heart {
    image-rendering: auto;
}

#main {
    background-color: transparent;
}

#userinfo > tbody:nth-child(1) > tr:nth-child(5),
#userinfo > tbody:nth-child(1) > tr:nth-child(7),
#userinfo > tbody:nth-child(1) > tr:nth-child(7),
#userinfo > tbody:nth-child(1) > tr:nth-child(9),
#userinfo > tbody:nth-child(1) > tr:nth-child(10),
#userinfo > tbody:nth-child(1) > tr:nth-child(11) {
    background-color: #eeeeeee4;
}

#userinfo > tbody:nth-child(1) > tr:nth-child(5) td {
    padding: 6px !important;
}

#userinfo > tbody:nth-child(1) > tr:nth-child(5) > td,
#userinfo > tbody:nth-child(1) > tr:nth-child(7) > td,
#userinfo > tbody:nth-child(1) > tr:nth-child(7) > td,
#userinfo > tbody:nth-child(1) > tr:nth-child(9) > td,
#userinfo > tbody:nth-child(1) > tr:nth-child(10) > td,
#userinfo > tbody:nth-child(1) > tr:nth-child(11) > td {
    box-shadow: inset 0px 0px 0px 3px #064564;
}

#userinfo > tbody:nth-child(1) > tr:nth-child(2) {
    font-family: Berry Rotunda;
    font-size: xx-large;
    color: #064564;
    text-shadow: -3px 3px 0px #000000;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #f4ab24;
    background-color: transparent;
}

#userinfo {
    font-family: 'Snakehand Regular';
    font-size: 18px;
    font-weight: bold;
}

#flashytitle {
    background-color: transparent;
    background-image: url("../theme/myutun-sea/header.png");
    margin-top: 10px;
}

#details {
    font-weight: bold;
    text-align: center;
}

/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #0080c0;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 181, 233);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #0080c0;
}

/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("../theme/pirate-alternia/wave-front.png"),
        url("../theme/myutun-sea/front-cloud.png"),
        url("../theme/myutun-sea/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("../theme/myutun-sea/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
            url("../theme/myutun-sea/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay > div,
    #overlay,
    #overlay-1,
    #overlay-2,
    #overlay-3,
    #overlay-4,
    #overlay-5 {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
        z-index: -2;
    }

    #overlay {
        background-image: url("../theme/myutun-sea/back-cloud.png");
        animation: 130s back-cloud-move linear infinite reverse;
        background-position: left 30%;
        background-repeat: repeat-x;
        background-size: 100vh;
    }

    #overlay-1 {
        background-image: url("../theme/myutun-sea/island.png");
        animation: 280s island-move linear infinite;
        background-position: -40vw 72vh;
        background-repeat: no-repeat;
        background-size: 70vh;
    }

    #overlay-2 {
        background-image: url("../theme/myutun-sea/front-cloud.png");
        animation: 60s front-cloud-move linear infinite;
        background-position: left center;
        background-repeat: repeat-x;
        background-size: 100vh;
    }

    #overlay-3 {
        background-image: url("../theme/pirate-alternia/wave-back.png");
        animation: 40s wave-back-move linear infinite;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 100vh;
    }

    #overlay-4 {
        background-image: url("../theme/myutun-sea/ship.png");
        animation: 65s ship-move linear infinite;
        background-position: 110vw 64vh;
        background-repeat: no-repeat;
        background-size: 40vh;
    }

    #overlay-5 {
        background-image: url("../theme/pirate-alternia/wave-front.png");
        animation: 20s wave-front-move linear infinite;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 100vh;
    }

    @keyframes back-cloud-move {
        to {
            background-position: 100vh 30%;
        }
    }

    @keyframes front-cloud-move {
        to {
            background-position: 100vh center;
        }
    }

    @keyframes island-move {
        to {
            background-position: 180vw 72vh;
        }
    }

    @keyframes wave-back-move {
        to {
            background-position: 100vh bottom;
        }

        0% {
            top: 1vh;
        }

        10% {
            top: 0vh;
        }

        20% {
            top: 1vh;
        }

        30% {
            top: 0vh;
        }

        40% {
            top: 1vh;
        }

        50% {
            top: 0vh;
        }

        60% {
            top: 1vh;
        }

        70% {
            top: 0vh;
        }

        80% {
            top: 1vh;
        }

        90% {
            top: 0vh;
        }

        100% {
            top: 1vh;
        }
    }

    @keyframes ship-move {
        to {
            background-position-x: -60vw;
        }

        0% {
            top: 1vh;
        }

        10% {
            top: 0vh;
        }

        20% {
            top: 1vh;
        }

        30% {
            top: 0vh;
        }

        40% {
            top: 1vh;
        }

        50% {
            top: 0vh;
        }

        60% {
            top: 1vh;
        }

        70% {
            top: 0vh;
        }

        80% {
            top: 1vh;
        }

        90% {
            top: 0vh;
        }

        100% {
            top: 1vh;
        }
    }

    @keyframes wave-front-move {
        to {
            background-position: 100vh bottom;
        }

        0% {
            top: 0vh;
        }

        10% {
            top: 1vh;
        }

        20% {
            top: 0vh;
        }

        30% {
            top: 1vh;
        }

        40% {
            top: 0vh;
        }

        50% {
            top: 1vh;
        }

        60% {
            top: 0vh;
        }

        70% {
            top: 1vh;
        }

        80% {
            top: 0vh;
        }

        90% {
            top: 1vh;
        }

        100% {
            top: 0vh;
        }
    }
}