/*                                                                                                                         
                                                                                                                         
                              ████                                                     ████                              
                            ███████████                                           ████████████                           
                          ████    ████████                                     ████████    ████                          
                          ███          █████                                 █████          ███                          
                         ███             █████      █████████████████      █████             ███                         
                         ██    █            █████████████████████████████████            █   ███                         
                         ██     ██            ████████             ████████            ██     ██                         
                        ███     ███             ███                   ███             ███     ███                        
                        ███      ████            ███                 ███            ████      ███                        
                        ██       █████            ██                 ██            ████        ██                        
                        ██       ██████            ██   █           ██            ██████       ██                        
                        ██       ████████         ███ ███           ██          ████████       ██                        
                        ██       ██████████      ███ ███             ██        █████████       ██                        
                        ██       █████   ██████████ ███               ███████████  █████       ██                        
                        ██       ████       ██████ ████                 ████        ████       ██                        
                ██████████      █████         ████████                              █████      ██████████                
               ███      ███     █████         ████████                              █████     ███      ███               
           ██████        ██     ████          ████████                               ████     ██        ██████           
         ████████         █     ████    █     ████████                          █    ████     █         ███████          
         ███    █   ██         █████   ██    █████                              ██   █████         ██   █     ██         
         ███   ████  ███       ██████  ██    █████                             ███  ██████       ███  ████   ███         
           ███████████ ████   ███████ ███   ████████                            ███ ███████   ████ ███████████           
               ██████████████████████ ███ █████████████           ██████████    ███ ██████████████████████               
                ██ ███ █████████████████████████████████         █████████████  █████████████████  ███ ██                
                ███  ██   ██████   ██████████████████████       ███████████████  █████  ███████   ██  ███                
                 ██   ███    ██    ██████████████████████       ███████████████   ████    ██    ███  ███                 
                  ██  █████  ██    ██████████████████████        ██████████████    ████   ██  █████  ██                  
                   ██ ██ ███ ██    ██████████████████████  ███   ██████████████    ████   ██ ███ ██ ██                   
                   █████  █████    █████████████████████  █████    ████████████    ███    █████  █████                   
                    ████    ███    ███    █████████████  ███████     █████████     ███    ███    ███                     
     ████████         ██     ███    ███     █████████   █████████                 ███    ███     ██         ████████     
   ████████████████████       ███    ████              ███████████             ██████  ████       ████████████████████   
   ███       ██████████████    █████████████████        ████ ████        █████████████████    ██████████████       ███   
   ██        ██████ ███ ██████         ███████ ███                     ███ ███████         ██████ ███  █████        ██   
   ███       █████   ███████████   █████████████ ██                   ██ █████████████   ███████████   █████       ███   
    ███     ████████████   ██████████     ██████ █████             █████ ██████     ██████████   ███████████      ███    
     ███████████████  ██   ███████    ██  █████  ██ █████████████████ ██  █████ ███    ███████   ██  ███████████████     
                 ███████████████    █████████    ██ ████   ███   ████ ██    █████████    ███████████████                 
                    █████  ████   █████  ████ █   ████ ██ ██ ██ ██ ████   █ ████  █████   ████  █████                    
                      ████████   ██  █████ █████  █████████████████████  █████ █████ ███   ███████                       
                    █████████   ███    ██████████  ███  ████████   ███  ██████████    ███   █████████                    
                 ██████████   ███        ██████████ ██             ██ █████████         ███   ██████████                 
                ██████      ██████          ████████                 ████████           █████      ██████                
               ███ ██    ██████████            ████████           ████████            ██████████    ██ ███               
                ███████████      ████            ███████████████████████            ████      ███████████                
                 ███████           ████             █████████████████              ███           ███████                 
                                    ████               ███████████               ████                                    
                                      ████             ████████                ████                                      
                                    ████████     ██████████                  ████████                                    
    ██                    █████████████  ██████████████                    █████ ██████████████                    ██    
    ██████████████████████████████████████████████                   ███ ████████████████████████████████████████████    
     ████████████████████   ████████████████                       ███ ██████████████████████   ████████████████████     
      █████                 ████                                ███  █████               █████                █████      
        ████                                                 ████ ██████                                     ████        
         █████                                             ███  ██████                                     █████         
           █████                                       ████  ██████                                      █████           
            ██████ █████                           ██████ ████████████                           ████  ██████            
               ██████  ████████           ███████████ █████████████ ██████████           █████████  ██████               
                 ████████  █████████████████████  █████████   ██████████  ████████████████████   ███████                 
                   █████████████           ████████████           ██████████████           ███████████                   
                       ████████████████████████████                   ████████████████████████████                       
                            ████████████████                                 ████████████████                            
                                                                                                                         
                                                                                                                                                                                                   
*/


body {
    background-image:
        url("../theme/myutun-sea/water.png"),
        url("../theme/myutun-sea/front-cloud.png"),
        url("../theme/myutun-sea/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("../theme/myutun-sea/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

a {
    color: #0075af !important;
}

nav,
.mspfa nav {
    color: #f4ab24 !important;
    background-color: transparent;
    padding: 15px 0px;
    font-size: 15px;
}

.mspfa nav a {
    color: #005682;
}

nav .dropdown-content {
    background-color: #0000008f;
}

nav .dropdown-content > a {
    color: white !important;
}

iframe,
#slide,
#info > span > .spoiler.open,
.heart {
    image-rendering: auto;
    -moz-image-rendering: auto;
}

table.container > tbody > tr > td,
table.container > tbody > tr > th {
    border: none !important;
}

.major {
    color: #005682 !important;
    text-shadow: 0 2px #f4ab24 !important;
}

.heart {
    background-image: url("../theme/myutun-sea/logo_small.png") !important;
    background-repeat: no-repeat;
}

.iframe-container {
    background: transparent url("../../img/loading.gif") no-repeat 50% center !important;
    margin-top: -15px;
}

.um {
    transform: translateX(-145px);
    width: 650px;
    opacity: .5;
    transition: opacity .08s ease-out;
}

.um:hover {
    opacity: 1;
}

.umcontainer {
    background-image: url("https://linkh.at/mspfafacereverse");
    background-repeat: no-repeat;
    background-position-x: 794px;
}

.mspfalogo {
    background-image: url("https://linkh.at/mspfaface") !important;
    size: 70%;
    border-right: 4px solid transparent !important;
    background-color: transparent !important;
    background-position-x: 0px;
}

.rate button.up,
.rate input[type="button"].up {
    background-image: url("../../img/grayupvote.png");
}

.rate button.down,
.rate input[type="button"].down {
    background-image: url("../../img/graydownvote.png");
}

.rate button.up.lit,
.rate input[type="button"].up.lit {
    background-image: url("../../img/upvote.png");
}

.rate button.down.lit,
.rate input[type="button"].down.lit {
    background-image: url("../../img/downvote.png");
}

.redtext {
    color: rgb(152, 0, 0);
}

.comment > td:last-child {
    background-color: rgba(255, 255, 255, 0.737);
    box-shadow: rgba(0, 0, 0, 0.518) 0px 4px 8px 0px;
    padding: 8px;
    border-radius: 1ex;
}

.comment > td > a > .cellicon {
    box-shadow: rgba(0, 0, 0, 0.518) 0px 4px 8px 0px;
    background-color: rgb(255, 255, 255);
}

.plog #slide {
    width: 850px;
}

#log {
    width: 950px;
    margin: auto;
    border: 5px solid #064564;
}

#log h4 {
    height: 200px;
    margin: auto;
    background-image: url("../../img/Title.gif");
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: auto !important;
}

#log #storyname,
#log h3 {
    display: none !important;
}

#log #pages {
    padding: 30px 30px 50px 30px;
}

#log,
.plog #slide {
    background-color: #eeeeeedb !important;
}

#log #pages a,
.plog #slide a {
    color: black !important;
}

#log #pages,
.plog #slide {
    font-size: 25px !important;
    font-family: 'logpage' !important;
}

#um4container {
    opacity: .5;
    transition: opacity .08s ease-out;
    padding-top: 40px;
}

#um4container a {
    color: white !important;
}

#um4container:hover {
    opacity: 1;
}

#main {
    background-color: transparent !important;
}

#slide {
    Border: 8px solid #064564;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.518);
}

#details {
    font-weight: bold;
    text-align: center;
}

#details a {
    color: black !important;
}

/*
#bbtoolbar input {
    background-image: url("../../img/bbicons.png");
}
*/

/*
#loading {
    background-image: url("../../img/siteload.gif");
}
*/

#flashytitle,
#flashytitlebottom {
    height: 68px !important;
    background-image: url("../theme/myutun-sea/header.png") !important;
    background-repeat: no-repeat !important;
    background-position: center 0 !important;
    background-color: transparent !important;
    padding-top: 10px !important;
    margin-top: 20px !important;
}

#flashytitlebottom {
    transform: scaleX(-1);
}

#info > span > .spoiler > div:first-child > input {
    font-size: 14px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.518) 0px 4px 8px 0px;
    margin: 3px;
}

#info {
    padding-top: 30px;
}

#info > span > .spoiler,
#info > span > .spoiler.open {
    background-color: rgb(225, 225, 225);
}

#latestpages > span > .spoiler.closed {
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.737);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.518);
    margin-bottom: -15px;

}

#commentary-wrapper img {
    max-width: 350px;
}

/*Latest pages always open*/

#infobox > .spoiler.closed:first-child > div:first-child,
#latestpages .spoiler > div:first-child {
    display: none;
}

#infobox > .spoiler.closed:first-child > div:last-child,
#latestpages .spoiler > div:last-child {
    display: block;
    image-rendering: auto !important;
}

/*NEWS BOX*/
/* =========================================== */
#adventureNews {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.518);
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 265px;
    max-height: 265px;
    background: rgba(255, 255, 255, 0.737);
    padding: 10px;
}

#adventureNews .newsPost {
    text-align: center;
}

#adventureNews .newsheadder {
    font-size: x-large;
    margin: -30px auto -20px auto;
}

#adventureNews .newshead {
    font-size: large;
}

#adventureNews .newsdate {
    font-size: x-small;
    font-style: italic;
    font-weight: normal;
    margin-top: -20px;
    margin-bottom: -10px;
}

#adventureNews .newscontent {
    margin-top: -25px;
}

/*Check boxes*/

#info #latestpages label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#info #latestpages input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

/*SCROLL BAR*/
/* =========================================== */
#latestpages .spoiler.closed::-webkit-scrollbar,
#adventureNews::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background: #035c88;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 181, 233);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #035c88;
}

@font-face {
    font-family: 'logpage';
    src: url('../font/gunny-rewritten/GunnyRewritten.woff2') format('woff2');
    font-display: swap;
}