/* =============================================Text Effects */

::root {
    --twidth: 100%;
}

textarea[style*="twidth"] {
    width: calc(var(--twidth) - 40px);
    padding: 20px;
}

/* ========================== Shake, Wave, textfx*/
.shake,
.wave,
.textfx {
    display: inline-block;
}

shake>span.shake {
    animation: none !important;
}

wave,
shake.wave {
    --amt: 1;
}

.wave .shake,
.wave {
    animation: wave 2s linear infinite;
}

.wave .shake:nth-child(5n+3),
.wave:nth-child(5n+3) {
    animation-delay: -0.4s;
}

.wave .shake:nth-child(5n+2),
.wave:nth-child(5n+2) {
    animation-delay: -0.8s;
}

.wave .shake:nth-child(5n+1),
.wave:nth-child(5n+1) {
    animation-delay: -1.2s;
}

.wave .shake:nth-child(5n),
.wave:nth-child(5n) {
    animation-delay: -1.6s;
}

@keyframes wave {
    from {
        transform: rotate(0deg) translateX(calc(var(--amt) * 0.05ch)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--amt) * 0.05ch)) rotate(-360deg);
    }
}

/* =================================== Squash*/
.squash {
    --amt: 1;
}

.squash .textfx {
    animation: squash 1s ease-in-out infinite alternate;
}

.squash .textfx:nth-child(8n+7) {
    animation-delay: -1.75s;
}

.squash .textfx:nth-child(8n+6) {
    animation-delay: -1.5s;
}

.squash .textfx:nth-child(8n+5) {
    animation-delay: -1.25s;
}

.squash .textfx:nth-child(8n+4) {
    animation-delay: -1s;
}

.squash .textfx:nth-child(8n+3) {
    animation-delay: -0.75s;
}

.squash .textfx:nth-child(8n+2) {
    animation-delay: -0.5s;
}

.squash .textfx:nth-child(8n+1) {
    animation-delay: -0.25s;
}

.squash .textfx:nth-child(8n) {
    animation-delay: 0s;
}


@keyframes squash {
    from {
        transform: scaleX(1) scaleY(calc(var(--amt) * 1.5));
    }

    to {
        transform: scaleX(calc(var(--amt) * 1.2)) scaleY(1);
    }
}

/* ============================= Vwave*/
.vwave {
    --amt: 1;
}

.vwave .textfx {
    animation: vwave 1s ease-in-out infinite alternate;
}

.vwave .textfx:nth-child(10n+9) {
    animation-delay: -1s;
}

.vwave .textfx:nth-child(10n+8) {
    animation-delay: -1.2s;
}

.vwave .textfx:nth-child(10n+7) {
    animation-delay: -1.4s;
}

.vwave .textfx:nth-child(10n+6) {
    animation-delay: -1.6s;
}

.vwave .textfx:nth-child(10n+5) {
    animation-delay: -1.8s;
}

.vwave .textfx:nth-child(10n+3) {
    animation-delay: -0.2s;
}

.vwave .textfx:nth-child(10n+2) {
    animation-delay: -0.4s;
}

.vwave .textfx:nth-child(10n+1) {
    animation-delay: -0.6s;
}

.vwave .textfx:nth-child(10n) {
    animation-delay: -0.8s;
}

@keyframes vwave {
    from {
        transform: translateY(calc(var(--amt) * 0.2ch));
    }

    to {
        transform: translateY(calc(var(--amt) * -0.2ch));
    }
}

/* =============================== Rainbow*/
.rainbow {
    --amt: 4;
}

.rainbow .textfx {
    animation: rainbow calc(var(--amt) * 2s) linear infinite;
}

.rainbow .textfx:nth-child(10n+9) {
    animation-delay: calc(var(--amt) * -2s);
}

.rainbow .textfx:nth-child(10n+8) {
    animation-delay: calc(var(--amt) * -1.8s);
}

.rainbow .textfx:nth-child(10n+7) {
    animation-delay: calc(var(--amt) * -1.6s);
}

.rainbow .textfx:nth-child(10n+6) {
    animation-delay: calc(var(--amt) * -1.4s);
}

.rainbow .textfx:nth-child(10n+5) {
    animation-delay: calc(var(--amt) * -1.2s);
}

.rainbow .textfx:nth-child(10n+4) {
    animation-delay: calc(var(--amt) * -1s);
}

.rainbow .textfx:nth-child(10n+3) {
    animation-delay: calc(var(--amt) * -0.8s);
}

.rainbow .textfx:nth-child(10n+2) {
    animation-delay: calc(var(--amt) * -0.6s);
}

.rainbow .textfx:nth-child(10n+1) {
    animation-delay: calc(var(--amt) * -0.4s);
}

.rainbow .textfx:nth-child(10n) {
    animation-delay: calc(var(--amt) * -0.2s);
}

@keyframes rainbow {

    to,
    from {
        color: violet;
    }

    5% {
        color: red;
    }

    15% {
        color: orange;
    }

    25% {
        color: yellow;
    }

    35% {
        color: lime;
    }

    45% {
        color: green;
    }

    55% {
        color: darkgreen;
    }

    65% {
        color: blue;
    }

    75% {
        color: blueviolet
    }

    85% {
        color: indigo;
    }

    95% {
        color: violet;
    }
}