/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #160258;
}

::-webkit-scrollbar-thumb {
    background: rgb(143, 5, 37);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #160258;
}


/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("beach-sunset/island.png"),
        url("beach-sunset/water.png"),
        url("beach-sunset/front-cloud.png"),
        url("beach-sunset/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(4, 1, 62, 0.658) 15%, rgba(101, 0, 112, 0.826) 55%, rgb(236, 116, 4) 80%),
        url("default/background.bmp");
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom right, bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #090445;
    background-size: 80vh, 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

a {
    color: #c90000 !important;
}

#nav a:hover {
    color: #f4ab24 !important;
}

#nav {
    color: #f4ab24;
}

#main {
    background-color: transparent
}

#slide {
    Border: 8px solid #a10000;
    background-color: #eeeeee
}

#timestamp {
    color: rgb(185, 185, 185);
}

#pageno {
    color: #fff;
    background-color: #a10000;
}

#tab {
    background-color: #a10000;
    color: #ed6565;
}

#tab button {
    background-color: #970000;
    border: solid #710000;
    color: #f90000;
    text-shadow: 1px 1px #710000;
}

#tab button:hover {
    background-color: #7a0000;
}

#tab button.active {
    background-color: rgb(255, 204, 0);
    color: #ae6b00;
    border: solid #ae6b00;
    text-shadow: 1px 1px #6c4d05;
}

#user,
#author {
    background-color: #EEE;
}

.heart {
    background-image: url("default/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

.tabcontent {
    border: 2px solid #710000;
}

.iframe-container {
    background: #eeeeee url("../loading.gif") no-repeat 50% center !important;
}

/*SITE ONLY*/
/* =========================================== */

#infobox>div.spoiler.open {
    Border: 4px solid #a10000;
}

#commentbox>div.spoiler.open {
    Border: 4px solid #a10000;
}

#commentary-wrapper {
    Border: 8px solid #a10000;
}

nav {
    color: #f4ab24;
    background-color: transparent;
}

nav .dropdown-content {
    background-color: #0000008f;
}

/* MSPFA HOME */
nav a[href="/"]::after {
    color: #f4ab24;
}

/* MSPA */
nav a[href="http://www.mspaintadventures.com/"]::after {
    color: #f4ab24;
}

/* DONATE */
nav a[href="/donate/"]::after {
    color: #5d00cf;
}

/* MORE */
nav a[href="/more/"]::after {
    color: #5d00cf;
}

#startover::after {
    color: #bb8013;
}

#goback::after {
    color: #bb8013;
}

#deletegame::after {
    color: #5d00cf;
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(4, 1, 62, 0.658) 15%, rgba(101, 0, 112, 0.826) 55%, rgb(236, 116, 4) 80%),
            url("default/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("beach-sunset/water.png");
        animation: 60s water-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;
        z-index: -2;
    }

    .overlay-1 {
        background-image: url("beach-sunset/back-cloud.png");
        animation: 180s backcloud-move linear infinite;
        background-position: center left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-2 {
        background-image: url("beach-sunset/front-cloud.png");
        animation: 50s frontcloud-move linear infinite reverse;
        background-position: center left;
        background-position-y: 20vh;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-3 {
        background-image: url("beach-sunset/island.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 80vh;
    }

    @media screen and (min-height: 500px) {
        .overlay-4 {
            background-image: url("beach-sunset/wave.png");
            animation: 30s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }

        .overlay-5 {
            background-image: url("beach-sunset/wave.png");
            animation: 20s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }

        .overlay-6 {
            background-image: url("beach-sunset/wave.png");
            animation: 10s wave-move ease-in-out infinite;
            background-position-y: 70.5vh;
            background-position-x: 50vw;
            background-repeat: no-repeat;
            background-size: 80vh;
        }
    }

    @keyframes water-move {
        to {
            background-position: 80vh bottom;
        }
    }

    @keyframes backcloud-move {
        to {
            background-position: 80vh center;
        }
    }

    @keyframes frontcloud-move {
        to {
            background-position: 80vh center;
            background-position-y: 20vh;
        }
    }

    @keyframes wave-move {
        0% {
            transform: scalex(5%);
            opacity: 0;
        }

        50% {
            transform: scalex(100%);
            background-position-x: 90%;
            opacity: 1;
        }

        100% {
            transform: translateY(24%) scaley(15%);
            background-position-x: 60%;
            opacity: 0;
        }
    }
}