a {
    color: #0080c2;
}

#main {
    background-color: transparent;
}

#slide {
    Border: none !important;
    background-color: transparent !important;
    padding: 0px 0px !important;
}

#flashytitle,
#flashytitlebottom {
    background-image: url("myutun-sea/header.png");
}

.heart {
    background-image: url("myutun-sea/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

.umcontainer {
    background-image: url("https://linkh.at/mspfafacereverse");
}

.mspfalogo {
    background-image: url("https://linkh.at/mspfaface") !important;
}

.row {
    display: flex;
    font-family: "courier",
        "monospace";
}

.column {
    flex: 55%;
    margin-top: -10px;
    padding: 40px 65px 20px 60px;
    line-height: 14px;
    max-width: 330px;
}

.imgcolumn {
    margin-right: -60px;
    padding-top: 5px;
}

.imgcolumn img {
    height: 550px !important;
    width: 420px !important;
}



/* Tab button ==========================================*/

#tab {
    font-family: "courier", "monospace";
    font-weight: bold;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    margin: 0 0px;
}

#tab button {
    font-family: 'Homestuck';
    cursor: pointer;
    font-size: large;
    transition: 0.2s;
    display: contents;
}

#tab button {
    background-color: #095a83;
    border: solid #05334a;
    color: #6ebfe8;
    text-shadow: 1px 1px #05334a;
}

#tab button:hover {
    background-color: #053852;
}

#tab button.active {
    background-color: rgb(255, 204, 0);
    color: #ae6b00;
    border: solid #ae6b00;
    text-shadow: 1px 1px #6c4d05;
}

.tabcontent {
    display: none;
    padding: 10px;
    animation: fadeEffect 0.5s;
    background-color: transparent;
    background-image: url("../../img/art/oldaf.JPG");
    background-size: 800px 700px;
    padding: 5px;
    height: 640px !important;
    width: 900px !important;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #035c88;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 181, 233);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #035c88;
}


/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("myutun-sea/water.png"),
        url("myutun-sea/front-cloud.png"),
        url("myutun-sea/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("myutun-sea/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    color: #000000;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
            url("myutun-sea/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("myutun-sea/island.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 50vh;
        background-position-x: 70vw;
        background-position-y: 65vh;
        z-index: -1;
    }

    .overlay-3 {
        background-image: url("myutun-sea/back-cloud.png");
        animation: 180s backcloud-move linear infinite;
        background-position: center left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-4 {
        background-image: url("myutun-sea/front-cloud.png");
        animation: 50s frontcloud-move linear infinite reverse;
        background-position: center left;
        background-position-y: 20vh;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-1 {
        background-image: url("myutun-sea/ship.png");
        animation: 35s ship-move linear infinite;
        background-repeat: no-repeat;
        background-size: 20vh;
        background-position-x: 110vw;
        background-position-y: 62vh;
    }

    .overlay-2 {
        background-image: url("myutun-sea/water.png");
        animation: 60s water-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;

    }

    @keyframes water-move {
        to {
            background-position: 80vh bottom;
        }
    }

    @keyframes backcloud-move {
        to {
            background-position: 80vh center;
        }
    }

    @keyframes frontcloud-move {
        to {
            background-position: 80vh center;
            background-position-y: 20vh;
        }
    }

    @keyframes ship-move {
        to {
            background-position-x: -60vh;
        }

        0% {
            top: 1vh;
        }

        10% {
            top: 0vh;
        }

        20% {
            top: 1vh;
        }

        30% {
            top: 0vh;
        }

        40% {
            top: 1vh;
        }

        50% {
            top: 0vh;
        }

        60% {
            top: 1vh;
        }

        70% {
            top: 0vh;
        }

        80% {
            top: 1vh;
        }

        90% {
            top: 0vh;
        }

        100% {
            top: 1vh;
        }
    }
}