/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #035c88;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 181, 233);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #035c88;
}


/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("default/water.png"),
        url("default/front-cloud.png"),
        url("default/back-cloud.png"),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
        url("default/background.bmp");
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-position: bottom, center, center, top, top;
    background-attachment: fixed;
    background-color: #064564;
    color: #000000;
    background-size: 80vh, 80vh, 80vh, cover, 20vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

a {
    color: #0080c2;
}

#nav a:hover {
    color: #f4ab24;
}

#nav {
    color: #f4ab24;
}

#main {
    background-color: transparent
}

#slide {
    Border: 8px solid #064564;
    background-color: #eeeeee
}

#timestamp {
    color: rgb(185, 185, 185);
}

#pageno {
    color: #fff;
    background-color: #064564;
}

#tab {
    background-color: #064564;
    color: #559ec2;
}

#tab button {
    background-color: #095a83;
    border: solid #05334a;
    color: #6ebfe8;
    text-shadow: 1px 1px #05334a;
}

#tab button:hover {
    color: #ae6b00 !important;
}

#tab button.active {
    background-color: rgb(255, 204, 0);
    border: solid #ae6b00;
    color: #f79800 !important;
    text-shadow: 1px 1px #6c4d05;
}

#user,
#author {
    background-color: #EEE;
}

.heart {
    background-image: url("default/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

.tabcontent {
    border: 2px solid #3c6377;
}

.iframe-container {
    background: #eeeeee url("../loading.gif") no-repeat 50% center !important;
}

#flashytitle,
#flashytitlebottom {
    background-image: url("default/header.png");
}


/*SITE ONLY*/
/* =========================================== */

#infobox>div.spoiler.open {
    Border: 4px solid #064564;
}

#commentbox>div.spoiler.open {
    Border: 4px solid #064564;
}

#commentary-wrapper {
    Border: 8px solid #064564;
}

nav {
    color: #f4ab24;
    background-color: transparent;
}

nav .dropdown-content {
    background-color: #0000008f;
}

/* MSPFA HOME */
nav a[href="/"]::after {
    color: #f4ab24;
}

/* MSPA */
nav a[href="http://www.mspaintadventures.com/"]::after {
    color: #f4ab24;
}

/* DONATE */
nav a[href="/donate/"]::after {
    color: #af00af;
}

/* MORE */
nav a[href="/more/"]::after {
    color: #af00af;
}

#startover::after {
    color: #bb8013;
}

#goback::after {
    color: #bb8013;
}

#deletegame::after {
    color: #af00af;
}



/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 0, 112, 0.95) 25%, rgb(0, 146, 231) 80%),
            url("default/background.gif");
        background-repeat: no-repeat, repeat;
        background-size: cover, 20vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("default/island.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 50vh;
        background-position-x: 70vw;
        background-position-y: 65vh;
        z-index: -1;
    }

    .overlay-3 {
        background-image: url("default/back-cloud.png");
        animation: 180s backcloud-move linear infinite;
        background-position: center left;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-4 {
        background-image: url("default/front-cloud.png");
        animation: 50s frontcloud-move linear infinite reverse;
        background-position: center left;
        background-position-y: 20vh;
        background-repeat: repeat-x;
        background-size: 80vh;
    }

    .overlay-1 {
        background-image: url("default/ship.png");
        animation: 75s ship-move linear infinite;
        background-repeat: no-repeat;
        background-size: 20vh;
        background-position-x: 110vw;
        background-position-y: 62vh;
    }

    .overlay-2 {
        background-image: url("default/water.png");
        animation: 60s water-move linear infinite;
        background-position: bottom left;
        background-repeat: repeat-x;
        background-size: 80vh;

    }

    @keyframes water-move {
        to {
            background-position: 80vh bottom;
        }
    }

    @keyframes backcloud-move {
        to {
            background-position: 80vh center;
        }
    }

    @keyframes frontcloud-move {
        to {
            background-position: 80vh center;
            background-position-y: 20vh;
        }
    }

    @keyframes ship-move {
        to {
            background-position-x: -60vh;
        }

        0% {
            top: 1vh;
        }

        10% {
            top: 0vh;
        }

        20% {
            top: 1vh;
        }

        30% {
            top: 0vh;
        }

        40% {
            top: 1vh;
        }

        50% {
            top: 0vh;
        }

        60% {
            top: 1vh;
        }

        70% {
            top: 0vh;
        }

        80% {
            top: 1vh;
        }

        90% {
            top: 0vh;
        }

        100% {
            top: 1vh;
        }
    }
}