a {
    color: #d70000 !important;
}

nav {
    color: #a10000 !important;
    background-color: transparent;
}

nav .dropdown-content {
    background-color: #0000008f;
}

.major {
    color: #a10000 !important;
    text-shadow: 0 2px #310000 !important;
}

.heart {
    background-image: url("alternia/logo_small.png") !important;
    image-rendering: auto;
    background-repeat: no-repeat;
}

/*.iframe-container {
    background: #eeeeee url("../../img/loading.gif") no-repeat 50% center !important;
}*/

.umcontainer {
    background-image: url("alternia/mspfafacereverse.png");
}

.mspfalogo {
    background-image: url("alternia/mspfaface.png") !important;
}

#nav a:hover {
    color: #f4ab24 !important;
}

#nav {
    color: #a10000;
}

#main {
    background-color: transparent
}

#slide {
    Border: 8px solid #a10000;
}

#flashytitle,
#flashytitlebottom {
    background-image: url("myutun-sea/header.png");
}

#info>span>.spoiler>div:first-child>input,
#infobox > .spoiler.closed:first-child,
#info>span>.spoiler.open {
    border: 4px solid #a10000;
}

#latestpages>span>.spoiler.closed,
#adventureNews {
    border: 4px solid #a10000;
}

#commentary-wrapper {
    Border: 8px solid #a10000;
}

/* OFFLINE ONLY */
/* ===========================================*/

.mspfa .mspfalogoreverse {
    background-image: url("alternia/mspfafacereverse.png");
}

.tabcontent {
    border: 2px solid #710000;
}

#timestamp {
    color: rgb(185, 185, 185);
}

#pageno {
    color: #fff;
    background-color: #a10000;
}

#tab {
    background-color: #a10000;
    Border: 8px solid #a10000;
    color: #c27a7a;
}

#tab button {
    background-color: #970000;
    border: solid #710000;
    color: #f90000;
    text-shadow: 1px 1px #710000;
}

#tab button:hover {
    background-color: #7a0000;
}

#tab button.active {
    background-color: rgb(255, 204, 0);
    color: #ae6b00;
    border: solid #ae6b00;
    text-shadow: 1px 1px #6c4d05;
}

#user,
#author {
    background-color: #EEE;
}

/*SCROLL BAR*/
/* =========================================== */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

/*MOBILE CSS*/
/* =========================================== */
body {
    background-image:
        url("space/small_meteor.png"), url("space/med_meteor.png"),
        url("space/big_meteor.png"), url("space/alternia.png"),
        url("myutun-sea/background.bmp");
    background-position-x: 0, 0, 0, 87vw;
    background-position-y: bottom, bottom, bottom, 25vh;
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, repeat;
    background-attachment: fixed;
    background-color: #000;
    background-size: 100vh, 100vh, 100vh, 10vw, 30vh;
    image-rendering: pixelated;
    -moz-image-rendering: crisp-edges;
}

/*PC CSS*/
/* =========================================== */
@media screen and (min-width: 1200px) {
    body {
        background-image:
            url("myutun-sea/background.gif");
        background-repeat: repeat;
        background-size: 30vh;
    }

    /* PARALLAX BACKGROUND */
    #overlay>div,
    #overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    #overlay {
        background-image: url("space/alternia.png");
        animation: 3s alternia-move linear infinite;
        z-index: -2;
        background-position-x: 87vw;
        background-position-y: 25vh;
        background-repeat: no-repeat;
        background-size: 10vw;
    }

    .overlay-1 {
        background-image: url("space/meteorite.gif");
        animation: 40s meteorite-move linear infinite;
        background-position-x: -17vw;
        background-position-y: -17vw;
        background-repeat: no-repeat;
        background-size: 20vw;
    }

    .overlay-2 {
        background-image: url("space/big_meteor.png");
        animation: 200s bigmeteor-move linear infinite reverse;
        background-size: 100vh;
        background-position: bottom left;
        background-repeat: repeat-x,
            repeat-x;
    }

    .overlay-3 {
        background-image: url("space/med_meteor.png");
        animation: 80s medmeteor-move linear infinite;
        background-size: 100vh;
        background-position: bottom left;
        background-repeat: repeat-x,
            repeat-x;
    }

    .overlay-4 {
        background-image: url("space/small_meteor.png");
        animation: 30s smallmeteor-move linear infinite reverse;
        background-size: 100vh;
        background-position: bottom left;
        background-repeat: repeat-x,
            repeat-x;
    }

    @keyframes alternia-move {
        0% {
            top: 0vh;
        }

        25% {
            top: 0.2vh;
        }

        50% {
            top: 0vh;
        }

        75% {
            top: 0.2vh;
        }

        100% {
            top: 0vh;
        }
    }

    @keyframes meteorite-move {
        to {
            background-position: 110vw bottom;
        }
    }

    @keyframes bigmeteor-move {
        to {
            background-position: 100vh bottom;
        }
    }

    @keyframes medmeteor-move {
        to {
            background-position: 100vh bottom;
        }
    }

    @keyframes smallmeteor-move {
        to {
            background-position: 100vh bottom;
        }
    }
}