@font-face {
    font-family: 'Fipps';
    src: url('../font/fipps/Fipps-Regular.eot');
    src: local('Fipps Regular'), local('Fipps-Regular'),
        url('../font/fipps/Fipps-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/fipps/Fipps-Regular.woff2') format('woff2'),
        url('../font/fipps/Fipps-Regular.woff') format('woff'),
        url('../font/fipps/Fipps-Regular.ttf') format('truetype'),
        url('../font/fipps/Fipps-Regular.svg#Fipps-Regular') format('svg');
    font-display: swap;
}