#mirrorlinks {
    color: rgb(127, 127, 127) !important;
}

#mirrorlinks a {
    color: black !important;
}

.p1-3 #foot {
    display: none !important;
}

.overlayimg img:not(:last-child) {
    position: absolute;
}

.p1 #content img {
    vertical-align: bottom;
}

.p1 #main {
    min-width: 940px;
    width: fit-content;
}

.p1 #slide,
.p1 #content img {
    max-width: 1000px;
}

.p1 .array {
    margin: 0 -25px;
}

.array .major {
    margin: auto !important;
}

.p2 .array {
    width: 900px;
}

.p2 #content img {
    vertical-align: bottom;
}

.p2 #main {
    min-width: 940px;
    width: fit-content;
}

.p2 #slide,
.p1 #content img {
    max-width: 1000px;
}

.p2 .array {
    margin: 0 -25px;
}

@mspfa audio 458 473 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/001_conquest_of_paradise_hiphop.mp3;

@mspfa audio 732 747 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/002_vangelis_antarctica.mp3;

@mspfa audio 798 799 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/003_scharvona_ice_for_life.mp3;

@mspfa audio 803 813 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/004_scharvona_be_wheely_careful.mp3;

@mspfa audio 825 863 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/005_sanoandaihara_twelfth_chapter_final.mp3;

@mspfa audio 936 964 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/006_monaca_and_nishimura_godsboundsbyrules.mp3;

@mspfa audio 981 988 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/007_yamaoka_ice.mp3;

@mspfa audio 1062 1087 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/008_yamaoka_devils_laughter.mp3;

@mspfa audio 1209 1221 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/009_scharvona_say_no_to_snow.mp3;

@mspfa audio 1376 1405 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/010_yamaoka_fermata_in_mistic_air.mp3;

@mspfa audio 1411 1413 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/011_morricone_contamination.mp3;

@mspfa audio 1551 1564 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/012_ito_grand_papillon.mp3;

@mspfa audio 1624 1624 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/013_wallscoveredinblood_cattetremix.mp3;

@mspfa audio 1639 1652 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/014_vangelis_eternity.mp3;

@mspfa audio 1733 1739 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/015_henifin_the_gift_of_forever.mp3;

@mspfa audio 1840 1858 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/006_monaca_and_nishimura_godsboundsbyrules.mp3;

@mspfa audio 1895 1906 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/016_futureworldmusic_life_goes_on.mp3;

@mspfa audio 1907 1946 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/017_henifin_the_somme.mp3;

@mspfa audio 2003 2008 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/018_yamaoka_butterflies.mp3;

@mspfa audio 2118 2136 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/019_henifin_a_war_to_end_all_wars.mp3;

@mspfa audio 2139 2182 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/020_henifin_gateway_to_destiny.mp3;

@mspfa audio 2260 2310 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/021_harland_hedges_and_peasee_kain_battle_theme.mp3;

@mspfa audio 2438 2481 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/022_morricone_eternity.mp3;

@mspfa audio 2655 2674 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/023_vangelis_titans.mp3;