/* ========================
ALL CSS BELOW IS CUSTOM DUE TO THE OFFLINE ARCHIVE BEING WEIRD WITH NUMBER RANGES
AND OTHER THINGS.

JUST ADD ANY NUMBER RANGE SETTINGS IN HERE AND SEPARATE THEM AS BELOW.

ADDITIONALLY, ADD ANY EXTRA CSS THAT IS ONLY NEEDED FOR THE ARCHIVE HERE.
========================= */

/*.iframe-container {
    background: transparent url("../../../../tcmc/assets/img/loading.gif") no-repeat 50% center !important;
    margin-top: -15px;
}*/

.p1 #foot,
.p2 #foot,
.p3 #foot,
.plog #foot {
    display: none !important;
}

.p1413 #main {
    width: fit-content !important;
}

.plog #slide {
    width: 800px !important;
}

.array img,
.textimg img {
    margin: auto !important;
}


/* ========================
ALL CSS BELOW HERE IS DIRECTLY COPIED FROM THE MSPFA VERSION, JUST OVERWRITE WHEN NEED TO
=========================== */

/*
===============================
START OF CODE
===============================
*/

/*
===============================
TITLE SCREEN, CHAPTERS AND CREDITS
===============================
*/



#mirrorlinks {
    color: rgb(127, 127, 127) !important;
}

#mirrorlinks a {
    color: black !important;
}

.p1-3 #foot {
    display: none !important;
}

.overlayimg img:not(:last-child) {
    position: absolute;
}

.p1 #content img {
    vertical-align: bottom;
}

.p1 #main {
    min-width: 940px;
    width: fit-content;
}

.p1 #slide,
.p1 #content img {
    max-width: 1000px;
}

.p1 .array {
    margin: 0 -25px;
}

.array .major {
    margin: auto !important;
}

.p2 .array {
    width: 900px;
}

.p2 #content img {
    vertical-align: bottom;
}

.p2 #main {
    min-width: 940px;
    width: fit-content;
}

.p2 #slide,
.p1 #content img {
    max-width: 1000px;
}

.p2 .array {
    margin: 0 -25px;
}






/*
===============================
RAINBOW EFFECT
===============================
*/



.rainbow {
    --amt: 4;
}

.rainbow .textfx {
    animation: rainbow calc(var(--amt) * 2s) linear infinite;
}

.rainbow .textfx:nth-child(10n+9) {
    animation-delay: calc(var(--amt) * -2s);
}

.rainbow .textfx:nth-child(10n+8) {
    animation-delay: calc(var(--amt) * -1.8s);
}

.rainbow .textfx:nth-child(10n+7) {
    animation-delay: calc(var(--amt) * -1.6s);
}

.rainbow .textfx:nth-child(10n+6) {
    animation-delay: calc(var(--amt) * -1.4s);
}

.rainbow .textfx:nth-child(10n+5) {
    animation-delay: calc(var(--amt) * -1.2s);
}

.rainbow .textfx:nth-child(10n+4) {
    animation-delay: calc(var(--amt) * -1s);
}

.rainbow .textfx:nth-child(10n+3) {
    animation-delay: calc(var(--amt) * -0.8s);
}

.rainbow .textfx:nth-child(10n+2) {
    animation-delay: calc(var(--amt) * -0.6s);
}

.rainbow .textfx:nth-child(10n+1) {
    animation-delay: calc(var(--amt) * -0.4s);
}

.rainbow .textfx:nth-child(10n) {
    animation-delay: calc(var(--amt) * -0.2s);
}

@keyframes rainbow {

    to,
    from {
        color: #77003c;
    }

    5% {
        color: #a10000;
    }

    15% {
        color: #a15000;
    }

    25% {
        color: #a1a100;
    }

    35% {
        color: #416600;
    }

    45% {
        color: #008141;
    }

    55% {
        color: #008282;
    }

    65% {
        color: #005682;
    }

    75% {
        color: #0022cf
    }

    85% {
        color: #4200b0;
    }

    95% {
        color: #6a006a;
    }
}




/*
===============================
INTRODUCTION TO THE LORE
===============================
*/




.p7-18 #command,
.p7-18 #prevlinks,
.p7-18 #gamelinks,
.p7-18 #links > div > a > span {
    display: none !important;
}



.p7-18 body {
    background-color: #000000;
}

.p7-18 #main {
    background-color: #000000;
}

.p7-18 #slide {
    background-color: #000000;
}

.p7-18 #info > span > .spoiler.open {
    background-color: #000000;
}

.p7-18 nav a {
    color: #FFFFFF !important;
}

.p7-18 a {
    color: #FFFFFF;
}

.p7-18 a:active {
    color: #FFFFFF;
}

.p7-18 a:visited {
    color: #FFFFFF;
}

.p18 #links > div > a > span {
    display: none !important;
}

.p18 #links a::after {
    content: "Enter name." !important;
}

.p7-18 footer .mspfalogo,
.p7-18 header .mspfalogo {
    background-image: url(none);
}

.p7-18 .mspfalogo {
    border-right: 4px solid #000000;
    background-color: #000000;
}

.p7-18 #details,
.p7-18 #details a {
    color: #444444 !important;
    display: flex;
    justify-content: center;
}

.p7-18 #infobox,
.p7-18 #commentbox {
    color: #FFFFFF !important;
}

.p7-18 nav,
.p7-18 nav a,
.p7-18 .footlinks a,
.p7-18 #gamelinks a {
    color: #444444 !important;
}

.p7-18 nav .heart {
    background-image: url(none) !important;
}

.p7-18 input {
    background: transparent;
    color: #545454;
}

.p7-18 textarea {
    background-color: #5a5a5a;
}

.p7-18 .major {
    text-shadow: none;
}

@font-face {
    font-family: 'Coders Crux';
    src: url('../font/coderscrux/Coders-Crux.woff2') format('woff2');
    font-display: swap;
}

.p7-18 #container {
    font-weight: lighter !important;
}

.p7-18 #links a {
    font-family: 'Coders Crux' !important;
    font-size: 40px;
    font-weight: lighter !important;
}





/*
===============================
THE "ENTER NAME" TRANSITION
===============================
*/


.p23 #command span {
    display: none !important;
}

.p23 #command::after {
    content: "Enter name." !important;
}




/*
===============================
SOUNDTRACK
===============================
*/


@mspfa audio 7 18 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/intro_nameless_theme.mp3;

@mspfa audio 458 473 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/001_conquest_of_paradise_hiphop.mp3;

@mspfa audio 732 747 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/002_vangelis_antarctica.mp3;

@mspfa audio 798 804 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/003_scharvona_ice_for_life.mp3;

@mspfa audio 805 813 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/004_scharvona_be_wheely_careful.mp3;

@mspfa audio 825 863 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/005_sanoandaihara_twelfth_chapter_final.mp3;

@mspfa audio 936 964 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/006_monaca_and_nishimura_godsboundsbyrules.mp3;

@mspfa audio 981 988 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/007_yamaoka_ice.mp3;

@mspfa audio 1062 1087 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/008_yamaoka_devils_laughter.mp3;

@mspfa audio 1209 1221 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/009_scharvona_say_no_to_snow.mp3;

@mspfa audio 1376 1405 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/010_yamaoka_fermata_in_mistic_air.mp3;

@mspfa audio 1411 1413 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/011_morricone_contamination.mp3;

@mspfa audio 1551 1564 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/012_ito_grand_papillon.mp3;

@mspfa audio 1624 1624 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/013_wallscoveredinblood_cattetremix.mp3;

@mspfa audio 1639 1652 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/014_vangelis_eternity.mp3;

@mspfa audio 1733 1739 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/015_henifin_the_gift_of_forever.mp3;

@mspfa audio 1840 1858 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/006_monaca_and_nishimura_godsboundsbyrules.mp3;

@mspfa audio 1895 1906 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/016_futureworldmusic_life_goes_on.mp3;

@mspfa audio 1907 1946 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/017_henifin_the_somme.mp3;

@mspfa audio 2003 2008 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/018_yamaoka_butterflies.mp3;

@mspfa audio 2118 2136 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/019_henifin_a_war_to_end_all_wars.mp3;

@mspfa audio 2139 2182 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/020_henifin_gateway_to_destiny.mp3;

@mspfa audio 2260 2310 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/021_harland_hedges_and_peasee_kain_battle_theme.mp3;

@mspfa audio 2438 2481 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/022_morricone_eternity.mp3;

@mspfa audio 2655 2674 https: //file.garden/Y8Pb92x5lj9PszaW/alabaster/soundtrack/023_vangelis_titans.mp3;

/*
===============================
END OF CODE
===============================
*/