/* ========================
for the intro scene due to weird issue
===========================*/

a,
a:active,
a:visited {
    color: #FFFFFF !important;
    align-content: center;
}

body {
    background-color: #000000 !important;
}


#main,
#slide,
#info > span > .spoiler.open {
    background-color: #000000 !important;
    min-width: 653px !important;
}

nav a {
    color: #FFFFFF !important;
}

#details,
#details a {
    color: #444444 !important;
    text-align: center;
}

.mspfa footer .mspfalogo,
.mspfa header .mspfalogo {
    background-image: url(none);
    background-color: #000000;
}

.mspfa .mspfalogo {
    border-right: 4px solid #000000;
}

#prevlinks,
#links > span > div > a > span {
    display: none !important;
}

.p18 #links a::after {
    content: "Enter name." !important;
}

#links a {
    font-family: 'Coders Crux' !important;
    font-size: 40px;
    font-weight: lighter !important;
}

.mspfa nav,
.mspfa nav a,
.mspfa .footlinks a {
    color: #444444 !important;
}

.mspfa nav .heart {
    background-image: url(none);
}

#container {
    font-weight: lighter !important;
}