.array {     
    width: 900px; 
}  
    
#content img {     
    vertical-align: bottom; 
}  
    
#main {     
    min-width: 1000px !important;     
    width: fit-content; 
} 
    
#slide {     
    max-width: 1000px; 
} 
    
.array {     
    margin: 0 -25px; 
} 

.array img {     
    margin: 0 0px !important; 
} 

#foot {
    display: none !important;
}